*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(lightgreen,purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button-input{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 48, 0.979);
}

#input{
    margin: 10px 0 10px 0;
    width: 80%;
    height: 25px;
    font-size: 17px;
}

#date{
    margin: 10px 0 10px 0;
    width: 70%;
    height: 25px;
    font-size: 17px;
}

#mybtn{
    background-color: gold;
    border: 1px solid gold;
    padding: 6px 30px 6px 30px;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 30px;
    margin: 5px 0 10px 0;
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    width: 500px;
}

h3{
    display: flex;
    justify-content: center;
    background-color: rgb(7, 5, 19);
    width: 90%;
    height: 85px;
    color: white;
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#clear{
    background-color: gold;
    border: 1px solid gold;
    padding: 6px 30px 6px 30px;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 30px;
    margin: 5px 0 10px 0;
}

.image{
    height: 70px;
}

.del{
    height: 40px;
}